<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PLCS</title>
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/nav.css' %}">


</head>
<body>
	<nav class="navbar">
		
	</nav>
	<!-- Hero Section -->
	<header class="hero-section">
		<div class="content">
			<!-- <img src="img/logo.jpg" alt="logo" class="logo">
			<p class="sub-heading">best sold machines of all times</p> -->
			
			<p class="sub-heading"><img src="{% static '/img/water1.jpg' %}" class="logo">water vending machine</p>
		</div>
	</header>

	<!-- Cards container -->
	<section class="product">
		<h2 class="product-category">best selling</h2>
		<button class="pre-btn"><img src="{% static '/img/arrow.jpg' %}" alt="pre-arrow"></button>
		<button class="nxt-btn"><img src="{% static '/img/arrow.jpg' %}" alt="nxt-arrow"></button>
		<div class="product-container">
			<div class="product-card">
				<div class="prduct-image">
					<span class="discount-tag">15% off</span>
					<img src="{% static '/img/water1.jpg' %}" class="product-thumb" alt="">
					<button class="card-button">add to wishlist</button>
				</div>
				<div class="product-info">
					<h2 class="product-brand">brand name</h2>
					<p class="prod-short-des">this is a short description of the product</p>
					<span class="price">$85</span>
					<span class="actual-price">$100</span>

				</div>
			</div>
			<div class="product-card">
				<div class="prduct-image">
					<span class="discount-tag">15% off</span>
					<img src="{% static '/img/oil.jpg' %}" class="product-thumb" alt="">
					<button class="card-button">add to wishlist</button>
				</div>
				<div class="product-info">
					<h2 class="product-brand">brand name</h2>
					<p class="prod-short-des">this is a short description of the product</p>
					<span class="price">$85</span>
					<span class="actual-price">$100</span>

				</div>
			</div>
			<div class="product-card">
				<div class="prduct-image">
					<span class="discount-tag">15% off</span>
					<img src="{% static '/img/milk.jpg' %}" class="product-thumb" alt="">
					<button class="card-button">add to wishlist</button>
				</div>
				<div class="product-info">
					<h2 class="product-brand">brand name</h2>
					<p class="prod-short-des">this is a short description of the product</p>
					<span class="price">$85</span>
					<span class="actual-price">$100</span>

				</div>
			</div>
			<div class="product-card">
				<div class="prduct-image">
					<span class="discount-tag">15% off</span>
					<img src="{% static '/img/water3.jpg' %}" class="product-thumb" alt="">
					<button class="card-button">add to wishlist</button>
				</div>
				<div class="product-info">
					<h2 class="product-brand">brand name</h2>
					<p class="prod-short-des">this is a short description of the product</p>
					<span class="price">$85</span>
					<span class="actual-price">$100</span>

				</div>
			</div>
			<div class="product-card">
				<div class="prduct-image">
					<span class="discount-tag">15% off</span>
					<img src="{% static '/img/water1.jpg' %}" class="product-thumb" alt="">
					<button class="card-button">add to wishlist</button>
				</div>
				<div class="product-info">
					<h2 class="product-brand">brand name</h2>
					<p class="prod-short-des">this is a short description of the product</p>
					<span class="price">$85</span>
					<span class="actual-price">$100</span>

				</div>
			</div>
			<div class="product-card">
				<div class="prduct-image">
					<span class="discount-tag">15% off</span>
					<img src="{% static '/img/water1.jpg' %}" class="product-thumb" alt="">
					<button class="card-button">add to wishlist</button>
				</div>
				<div class="product-info">
					<h2 class="product-brand">brand name</h2>
					<p class="prod-short-des">this is a short description of the product</p>
					<span class="price">$85</span>
					<span class="actual-price">$100</span>

				</div>
			</div>
		</div>
	</section>

	<script type="text/javascript" src="{% static '/javascript/nav.js' %}"></script>
	<script type="text/javascript" src="{% static '/javascript/slide.js' %}"></script>
	<script type="text/javascript" src="{% static '/javascript/home.js' %}"></script>


</body>
</html>